html{
    height: 100%;
}

body{
    text-align: center;
    height: 100%;
    margin: 0;
}

.input-note{
    width: 500px;
    height: 25px;
    margin: 50px auto 50px auto;
    padding: 5px;
    font-size: 18px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
}

.notes-container{
    /* border: 1px solid black; */
    height: 60% !important;
    margin: 0;
}

#clean-storage{
    background: url('assets/images/bannerSmall.png');
    opacity: 0;
    width: 100%;
    height: 25%;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    /* border: 1px solid red; */
}

.note{
    width: 200px;
    height: 200px;
    background-color: #f7e98e;
    /* display: inline-block; */
    position: absolute;
}

textarea {
    resize: none;
    width: 175px;
    height: 170px;
    margin: 0px 10px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 18px;
    padding: 5px;
    font-family:Verdana;
}

textarea:focus{
    border: none;
    outline: none;
}